@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Rajdhani-Light';
  src: url('../public/fonts/rajdhani/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('../public/fonts/rajdhani/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Medium';
  src: url('../public/fonts/rajdhani/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: url('../public/fonts/rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Bold';
  src: url('../public/fonts/rajdhani/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-cf-green-900 text-cf-white font-rajdhani uppercase;
  }
  h1 {
    @apply font-rajdhani uppercase text-5xl md:text-[64px];
  }
  h2 {
    @apply font-rajdhani uppercase text-5xl md:text-[64px];
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}



/* Hide the spinner controls in number inputs */
.hide-spinner::-webkit-inner-spin-button,
.hide-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-spinner {
  -moz-appearance: textfield;
}

.hide-scroll {
  overflow: auto; /* Enable scrolling if needed */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.hide-scroll::-webkit-scrollbar { /* Chrome, Safari and Opera */
  display: none;
}


input[type="checkbox"]:checked {
  background-color: #E1B53D;
}

.explorer-scroll {
  /* Enable scrolling if needed */
  overflow: auto;

  /* For Webkit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }


  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #0B2D21 #081F17 ;
}

/* For IE and Edge */
@supports (-ms-overflow-style: none) {
  .custom-scroll {
    -ms-overflow-style: none;
  }
}

/* wallet adapter modal */
.wallet-adapter-modal-wrapper {
  @apply !bg-cf-green-900;
}
.wallet-adapter-modal-button-close {
  @apply !bg-cf-green-900 transition-200 hover:!bg-cf-green-800;
}
.wallet-adapter-modal-title {
  @apply !text-xl !mt-16 !mx-12 !mb-12 !p-0 !opacity-75 !font-rajdhani-semibold;
}
.wallet-adapter-modal-list-more {
  @apply !opacity-50;
}
.wallet-adapter-button {
  @apply transition-200 hover:!bg-cf-green-800 !text-opacity-50 font-semibold;
}
   /*.wallet-adapter-button-start-icon {
  @apply opacity-90;
} */

/*  Layout  */

.row-centered {
  @apply flex items-center justify-center;
}
.row-between {
  @apply flex items-center justify-between;
}
.row-start {
  @apply flex items-start justify-start;
}
.row-evenly {
  @apply flex items-center justify-evenly;
}
.row-around {
  @apply flex items-center justify-around;
}
.col-centered {
  @apply flex flex-col items-center justify-center;
}
.col-start {
  @apply flex flex-col items-start justify-start;
}
.col-evenly {
  @apply flex flex-col items-center justify-evenly;
}
.col-around {
  @apply flex flex-col items-center justify-around;
}

/* Animations */
.transition-1000 {
  @apply transition-all duration-1000;
}
.transition-500 {
  @apply transition-all duration-500;
}
.transition-300 {
  @apply transition-all duration-300;
}
.transition-200 {
  @apply transition-all duration-300;
}
.transition-100 {
  @apply transition-all duration-100;
}

/* Custom */
.icon-opacity {
  @apply transition-200 opacity-35 hover:opacity-100;
} 
.icon-opacity-60 {
  @apply transition-200 opacity-60 hover:opacity-100;
} 
.light-top {
  border-radius: 1920px;
  background: rgba(124, 225, 61, 0.2);
  filter: blur(500px);
}
.gradient-top {
  background: linear-gradient(180deg, rgba(5, 17, 13, 0.75) 0%, rgba(12, 44, 33, 0.00) 100%);
}
.main-width {
  @apply max-w-[1537px];
}
.page-spacing {
  @apply  px-4 md:px-6 lg:px-10 2xl:max-w-[1750px] 3xl:max-w-[1850px];
}

.text-highlight {
  color: #FFF79E;
  text-shadow: 0px 0px 48.51px rgba(255, 247, 158, 0.50), 0px 0px 13.86px rgba(255, 247, 158, 0.50), 0px 0px 6.93px rgba(255, 247, 158, 0.50);

}
.svg-highlight {
  width: 168px;
  height: 8px;
  flex-shrink: 0;
  fill: #FFF79E;
  filter: drop-shadow(0px 0px 16.2px #FFF79E) drop-shadow(0px 0px 32.4px #FFF79E) drop-shadow(0px 0px 113.4px #FFF79E);
}

.pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.loadable {
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.green-highlight {
  fill: #7CDDBB;
  filter: drop-shadow(0px 0px 0.72px #7CDDBB) drop-shadow(0px 0px 1.44px #7CDDBB) drop-shadow(0px 0px 5.04px #7CDDBB) drop-shadow(0px 0px 10.08px #7CDDBB) drop-shadow(0px 0px 17.28px #7CDDBB) drop-shadow(0px 0px 30.24px #7CDDBB);
}
.orange-highlight {
  fill: #E62E05;
  filter: drop-shadow(0px 0px 0.72px #E62E05) drop-shadow(0px 0px 1.44px #E62E05) drop-shadow(0px 0px 5.04px #E62E05) drop-shadow(0px 0px 10.08px #E62E05) drop-shadow(0px 0px 17.28px #E62E05) drop-shadow(0px 0px 30.24px #E62E05);
}
.button-transition {
  @apply transition-200 hover:opacity-80 active:opacity-50;
}
.menu-item-border {
  border-top: 1px solid rgba(255, 254, 243, 0.15);
}
.green-container {
  @apply border border-[#75FF72]/20 bg-[rgba(8,31,23,0.95)];
}
.green-container-md {
  @apply border border-[#75FF72]/50 bg-[rgba(8,31,23,0.95)] md:border-none md:bg-transparent;
}
.text-responsive {
  font-size: clamp(0.1em, 2.5vw, 1rem); 
}