@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Rajdhani-Light';
  src: url('../public/fonts/rajdhani/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('../public/fonts/rajdhani/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Medium';
  src: url('../public/fonts/rajdhani/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: url('../public/fonts/rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Rajdhani-Bold';
  src: url('../public/fonts/rajdhani/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-cf-green-900 text-cf-white font-rajdhani;
  }
  h1 {
    @apply font-rajdhani uppercase text-5xl md:text-[64px];
  }
  h2 {
    @apply font-rajdhani uppercase text-5xl md:text-[64px];
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

/* wallet adapter modal */
.wallet-adapter-modal-wrapper {
  @apply !bg-cf-green;
}
.wallet-adapter-modal-button-close {
  @apply !bg-cf-green-900 transition-200 hover:!bg-cf-green-800;
}
.wallet-adapter-modal-title {
  @apply !text-xl !mt-16 !mx-12 !mb-12 !p-0 !opacity-75 !font-rajdhani-semibold;
}
.wallet-adapter-modal-list-more {
  @apply !opacity-50;
}
.wallet-adapter-button {
  @apply transition-200 hover:!bg-cf-green-800 !text-opacity-50 font-semibold;
}
   /*.wallet-adapter-button-start-icon {
  @apply opacity-90;
} */

/*  Layout  */

.row-centered {
  @apply flex items-center justify-center;
}
.row-between {
  @apply flex items-center justify-between;
}
.row-start {
  @apply flex items-start justify-start;
}
.row-evenly {
  @apply flex items-center justify-evenly;
}
.row-around {
  @apply flex items-center justify-around;
}
.col-centered {
  @apply flex flex-col items-center justify-center;
}
.col-start {
  @apply flex flex-col items-start justify-start;
}
.col-evenly {
  @apply flex flex-col items-center justify-evenly;
}
.col-around {
  @apply flex flex-col items-center justify-around;
}

/* Animations */
.transition-1000 {
  @apply transition-all duration-1000;
}
.transition-500 {
  @apply transition-all duration-500;
}
.transition-300 {
  @apply transition-all duration-300;
}
.transition-200 {
  @apply transition-all duration-300;
}

/* Custom */
.icon-opacity {
  @apply transition-200 opacity-35 hover:opacity-100;
} 
.icon-opacity-60 {
  @apply transition-200 opacity-60 hover:opacity-100;
} 
.light-top {
  border-radius: 1920px;
  background: rgba(124, 225, 61, 0.2);
  filter: blur(500px);
}
.gradient-top {
  background: linear-gradient(180deg, rgba(5, 17, 13, 0.75) 0%, rgba(12, 44, 33, 0.00) 100%);
}
.page-spacing {
  @apply  px-6 md:px-10 xl:px-4  2xl:px-6 2xl:max-w-[1750px] 3xl:max-w-[1850px];
}

.text-highlight {
  color: #FFF79E;
  text-shadow: 0px 0px 48.51px rgba(255, 247, 158, 0.50), 0px 0px 13.86px rgba(255, 247, 158, 0.50), 0px 0px 6.93px rgba(255, 247, 158, 0.50);

}
.svg-highlight {
  width: 168px;
  height: 8px;
  flex-shrink: 0;
  fill: #FFF79E;
  filter: drop-shadow(0px 0px 16.2px #FFF79E) drop-shadow(0px 0px 32.4px #FFF79E) drop-shadow(0px 0px 113.4px #FFF79E);
}

